/* Base styles */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
  }
  
  /* Header Section */
  .hdr {
    width: 500px;
    margin: 0 auto;
    text-align: right;
  }
  
  .hdr__img {
    width: 100%;
  }
  
  .hdr__link {
    font-family: fantasy, cursive;
  }
  
  @media (max-width: 768px) {
    .hdr {
      text-align: center;
    }
  }
  
  /* Main Section */
  .main {
    display: block;
    width: 500px;
    margin: 0 auto 0;
  }
  
  /* Task List Section */
  .tasks {
    margin: 0;
    padding: 0;
  }
  
  .tasks__item,
  .tasks__heading {
    list-style: none;
  }
  
  .task {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
  }
  
  .tasks__row {
    display: flex;
  }
  
  .tasks__input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
  }
  
  .tasks__input:focus {
    color: #333;
  }
  
  .tasks__btn {
    background: none;
    border: 0;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  
  .tasks__btn:hover {
    color: #3a3a3a;
  }
  
  /* Completed Tasks Section */
  .cmplt {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Edit Task Section */
  .edit {
    input[type="text"] {
      display: none;
    }
  }
  
  .edit__input {
    display: inline-block;
    width: 224px;
  }
  
  .edit__label {
    display: none;
  }
  